body {
    background-color: #5CDB95;
}

body nav a {
  color: #05386B;
}

body section h1 {
  color: #FF652F;
}

body section h2 {
  color: #05386B;
}

div p a {
  color: #116466;
}

header h1 {
    font-size: 40pt;
    text-transform: uppercase;
    text-align: center;
    background: url("bg.jpg") left / auto 100% no-repeat;
    color: #5680E9;
}

nav {
    font-size: 16pt;
    width: 150px;
    float: left;
}

nav a {
    display: block;
    margin: 10px 0px;
}

section {
    margin-left: 170px;
}

section div h2 {
  color: #EDF5E1;
}

section div p {
  color: #2E9CCA;
}